{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <section data-jarallax data-speed=".8" class="py-15 overlay overlay-black overlay-60 jarallax" style="background-image: url(/img/photo-1.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7">

            <!-- Blockquote -->
            <blockquote class="blockquote mb-0">

              <!-- Text -->
              <p class="h2 text-white">
                {{ peintre.aPropos }}
              </p>

              <!-- Footer -->
              <footer class="blockquote-footer text-white-50 mb-0">
                {{ peintre.prenom }} {{ peintre.nom }}
              </footer>

            </blockquote>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
{% endblock %}
