{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    
    <section class="pb-8 pt-7 pt-md-10">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-0">
                        Dernières actualités
                    </h2>

                    <p class="mb-5 text-muted">
                        Mes dernières actualités
                    </p>
                </div>
            </div>
            <div class="row">    
                {% for blogpost in blogposts %}                 
                    <div class="col-12 col-lg-4 d-flex">
                        <div class="card mb-6 shadow-light-lg lift lift-lg m-2">
                            <a class="card-body my-auto" href="{{ path('actualites_detail', {'slug' : blogpost.slug}) }}">
                                <h3 class="mt-auto">
                                    {{  blogpost.titre }}
                                </h3>

                                <p class="mb-0 text-muted">
                                    {{  blogpost.contenu | u.truncate(150, '...', false) }}
                                </p>
                            </a>
                            <a class="card-meta" href="{{ path('actualites_detail', {'slug' : blogpost.slug}) }}">
                                <hr class="card-meta-divider">
                                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                                    <time>Publiée le {{  blogpost.createdAt | date('d/m/Y') }}</time>
                                </p>
                            </a>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div>

        <div class="d-flex justify-content-center">
            {% do blogposts.setPageRange(2) %}
            {{ knp_pagination_render(blogposts, 'base/pagination.html.twig') }}
        </div>
    </section>

{% endblock %}
