{% extends 'base.html.twig' %}

{% block title %}Réalisation : {{  peinture.nom }}{% endblock %}

{% block body %}
    <!-- CONTENT -->
    <div class="container-fluid px-md-0">
        <div class="row justify-content-between gx-0 mx-md-0 mb-6 mb-md-2">
            
            <div class="col-12 col-md-3 vh-md-100 mx-auto" style="top: 0;">
                <!-- Sidebar -->
                <aside class="flex-grow-1 py-8 py-md-10">
                    <!-- Brand -->
                    <div>
                        <h2>{{ peinture.nom }}</h2>
                        {% for categorie in peinture.categorie %}
                            <span class="badge bg-secondary">{{ categorie.nom }}</span>
                        {% endfor %}
                    </div>

                    <!-- Text -->
                    <p class="fs-lg mb-7 text-muted">
                        {{ peinture.description }}
                    </p>

                    <!-- List group -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">

                            <!-- Heading -->
                            <h6 class="d-flex mb-0 text-uppercase">
                                Date de réalisation
                                <span class="ms-auto">{{ peinture.dateRealisation|date('d/m/Y') }}</span>
                            </h6>
                        </li>
                        <li class="list-group-item">

                            <!-- Heading -->
                            <h6 class="d-flex mb-0 text-uppercase">
                                Largeur
                                <span class="ms-auto">{{ peinture.largeur }} Cm</span>
                            </h6>
                        </li>
                        <li class="list-group-item">

                            <!-- Heading -->
                            <h6 class="d-flex mb-0 text-uppercase">
                                Hauteur
                                <span class="ms-auto">{{ peinture.hauteur }} Cm</span>
                            </h6>
                        </li>
                        {% if peinture.enVente %}
                            <li class="list-group-item">

                                <!-- Heading -->
                                <h6 class="d-flex mb-0 text-uppercase">
                                    <strong>Disponible à la vente</strong>
                                    <span class="ms-auto"><strong>{{ peinture.hauteur }} €</strong></span>
                                </h6>
                            </li>
                        {% endif %}
                    </ul>
                </aside>
            </div>
            <div class="col-12 col-md-8">
                <!-- Images -->
                <section class="pt-md-10">
                    <img class="w-100 h-auto" src="{{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('full') }}" alt="...">
                </section>
            </div>
        </div>
    </div>
    {% include "commentaire/form.html.twig" %}
    {% include "commentaire/commentaires.html.twig" %}

{% endblock %}
