{% extends 'base.html.twig' %}

{% block title %}Réalisations{% endblock %}

{% block body %}
    
    <section class="pt-7 pt-md-10">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h3 class="mb-0">
                        Dernières réalisations
                    </h3>

                    <p class="mb-5 text-muted">
                        Mes toutes dernières réalisations
                    </p>
                </div>
                
                {% for peinture in peintures %}
                    
                    <div class="col-12 col-md-6 d-flex">
                        <div class="card mb-6 shadow-light-lg lift lift-lg">
                            <a class="card-img-top" href="{{ path('realisations_details', {'slug' : peinture.slug}) }}">
                                <img src={{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('miniature') }} alt="..." class="card-img-top">
                            </a>
                            <a class="card-body" href="#!">
                                <h3>
                                    {{  peinture.nom }}
                                </h3>

                                <p class="mb-0 text-muted">
                                    {{  peinture.description | u.truncate(200, '...', false) }}
                                </p>
                            </a>
                            <a class="card-meta mt-auto" href="#!">
                                <hr class="card-meta-divider">
                                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                                    <time>Ajoutée le {{  peinture.createdAt | date('d/m/Y') }}</time>
                                </p>
                            </a>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div>

        <div class="d-flex justify-content-center">
            {% do peintures.setPageRange(2) %}
            {{ knp_pagination_render(peintures, 'base/pagination.html.twig') }}
        </div>
    </section>

{% endblock %}
